.root{
    -fx-background-image: url(../Images/ff.jpg);
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.buttonGauch{
    -fx-min-height : 150;
    -fx-max-height : 150;
    -fx-min-width : 180;
    -fx-max-width : 180;
    -fx-padding: 7;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-background-radius: 10px;
    -fx-font-size:14px;
    -fx-font-weight: bold;
    -fx-text-alignment:center;
    -fx-background-color : rgba(195, 219, 233, 0.425);
}
.buttonGauch:hover{
    -fx-background-color : rgba(143, 203, 238, 0.651);
    -fx-border-color: rgb(98, 153, 236) ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius : 10px;
}
.buttonGauch:pressed{
    -fx-background-color : rgba(89, 185, 240, 0.726);
    -fx-border-color: rgba(69, 129, 218, 0.623) ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius : 10px;
}
#tousDocs{
    -fx-background-image: url(../Images/book1.png);
    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#tousPersonnes{
    -fx-background-image: url(../Images/person.png);
    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#empruntee{
    -fx-background-image: url(../Images/emprunte.png);
    -fx-background-size: 40%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#nonEmpuntee{
    -fx-background-image: url(../Images/non_emprunte.png);
    -fx-background-size: 40%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#tril{
    -fx-text-alignment:center;
    -fx-min-height : 50;
    -fx-min-width : 100;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-background-radius: 4px;
    -fx-font-size:15;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(166, 166, 221);
    -fx-effect: dropshadow(three-pass-box, rgb(52, 52, 241), 5, 0, 0, 0);
}
#asc{
    -fx-min-height : 50;
    -fx-min-width : 180;
    -fx-padding: 7;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-background-radius: 10px;
    -fx-text-alignment:center;
    -fx-background-color : rgba(195, 219, 233, 0.253);
    -fx-background-image: url(../Images/up.png);
    -fx-background-size: 20%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#desc{
    -fx-min-height : 50;
    -fx-min-width : 180;
    -fx-padding: 7;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-background-radius: 10px;
    -fx-text-alignment:center;
    -fx-background-color : rgba(195, 219, 233, 0.301);
    -fx-background-image: url(../Images/down.png);
    -fx-background-size: 20%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#desc:hover{
    -fx-background-color : rgba(143, 203, 238, 0.651);
    -fx-border-color: rgb(98, 153, 236) ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius : 10px;
}
#desc:pressed{
    -fx-background-color : rgba(89, 185, 240, 0.726);
    -fx-border-color: rgba(69, 129, 218, 0.623) ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius : 10px;
}
#asc:hover{
    -fx-background-color : rgba(143, 203, 238, 0.651);
    -fx-border-color: rgb(98, 153, 236) ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius : 10px;
}
#asc:pressed{
    -fx-background-color : rgba(89, 185, 240, 0.726);
    -fx-border-color: rgba(69, 129, 218, 0.623) ;
    -fx-border-width: 2 ; 
    -fx-border-style: solid ;
    -fx-border-radius : 10px;
}