.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-min-height : 30;
    -fx-max-height : 30;
    -fx-min-width : 450;
    -fx-font-size : 20;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

#up{
    -fx-min-height : 170;
    -fx-max-height : 170;
    -fx-min-width : 180;
    -fx-max-width : 180;
    -fx-padding: 50;
    -fx-text-alignment:center;
}